@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&family=Space+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@500&family=Space+Mono&family=Syne:wght@700&display=swap');
.header {
    position: fixed;
    width: 100%;
    font-family: 'Orbitron', sans-serif;
    background: linear-gradient(to right, rgb(178, 214, 219), rgb(84, 160, 167));
    /*color: #152238;*/
    color: #660094;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    border: 3px solid #660094;
    z-index: 999;
  }
  
  .header-content {
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 20px;
  }
  
  .header h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    margin: 0;
    
    /*-webkit-text-stroke: 1px  #152238;*/
    /*-webkit-text-fill-color: transparent;*/
  }

  .header p {
    font-size: 45px;
    margin: 0;
    /*-webkit-text-stroke: 0.75px  #152238;*/
  }

  nav {
    display: flex;
    align-items: center;
  }
  
  nav ul {
    font-family: 'Orbitron', sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  nav li {
    display: inline-block;
    margin: 0 40px;
  }
  
  nav a {
    text-decoration: none;
    color: #660094;
    font-size: 40px;
    transition: font-size 0.3s ease;
  }

  nav a:hover {
    font-size: 43px;
    color: white;
  }
  